

/* ==========================================================================
   Smile Shop custom styles
   ========================================================================== */


@font-face {
    font-family: "ProximaNova";
    src: url('../fonts/ProximaNova-Regular.eot');
    src: url('../fonts/ProximaNova-Regular.ttf'),
         url('../fonts/ProximaNova-Regular.woff'),
         url('../fonts/ProximaNova-Regular.svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "ProximaNova";
    src: url('../fonts/ProximaNova-Semibold.eot');
    src: url('../fonts/ProximaNova-Semibold.ttf'),
         url('../fonts/ProximaNova-Semibold.woff'),
         url('../fonts/ProximaNova-Semibold.svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "ProximaNova";
    src: url('../fonts/ProximaNova-Bold.eot');
    src: url('../fonts/ProximaNova-Bold.ttf'),
         url('../fonts/ProximaNova-Bold.woff'),
         url('../fonts/ProximaNova-Bold.svg');
    font-weight: 800;
    font-style: normal;
}



body * {
    font-family: 'ProximaNova', sans-serif;
    font-weight:600;
}
body {
    color:#333333;
    font-size:13px;
    overflow-x:hidden;
}

h1 {
    font-size:34px;
}
h4 {
    font-size: 22px;
}
h3 {
    font-size:28px;
}
h2 {
    font-size:20px;
}
h5 {
    font-size:16px;
    margin:5px 0;
    display:inline-block;
}
header {
    background-color:#eff0f3;
}

header .navbar{
    margin-bottom:0;
    border:none;
}

header .nav>li>a {
    padding-left:0;
    padding-right:0;
    margin:0 18px;
}

.space-top {
    margin-top:10px;
}
.space-top-20 {
    margin-top:20px;
}
.space-top-15{
    margin-top:15px;
}
.space-top-30 {
    margin-top:30px;
}
.space-bottom {
    margin-bottom:10px;
}
.space-bottom-20 {
    margin-bottom:20px;
}
.space-bottom-15{
    margin-bottom:15px;
}
.space-bottom-30 {
    margin-bottom:30px;
}
.center-block {
    display:table;
    margin-left:auto;
    margin-right:auto;
}
.top-nav {
    position:relative;
    left:-15px;
}
img.image {
    width:100%;
}
header .navbar a {
    color:#777777;
}

header .navbar a:hover {
    color: #333333;
    background-color:transparent;
}
.navbar-center {
    margin-left:2%;
}
.navbar-center.site-lang{
    margin-left:4%;
}
.site-lang .active a {
    position:relative;
    overflow:hidden;
    color: #333333;
}

.site-lang .active a:before {
    content: '';
    width:100%;
    height:2px;
    background:#fb2539;
    position:absolute;
    bottom:0;
}
.client-city li.dropdown {
    border-left:1px solid #ccc;
    border-right:1px solid #ccc;
}
.nav li.sign-in  a{
    color:#fb2539;
}
.navbar-center.nav>li>a {
    margin:0 10px;
}
.navbar-brand {
    background: #ffdc2c;
    height:auto;
    padding:32px 37px 23px;
}

/*Removing all outlines*/

.btn-default, button {
    outline: none !important;
    box-shadow: none !important;
    background-image: none !important;
}

button,input, textarea, select, a {
    outline: none !important;
}

button:focus,  textarea:focus, select:focus {
    outline: none;
}

input:focus, textarea:focus, select:focus, input:active, textarea:active, select:active, .selected-flag:active, .selected-flag:focus {
    outline: none;
    box-shadow: 0 0 6px #e0e0e0!important;
    -webkit-box-shadow: 0 0 6px #e0e0e0!important;
    -moz-box-shadow: 0 0 6px #e0e0e0!important;
}

.user-side nav > div  {
    height:112px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;

    align-items: center;
    justify-content: Space-between;
}
.user-side nav  ul:first-child {
    margin-left:30px;
}
.search-section {
    width:33%;
}
.search-section .form-control {
    font-size:13px;
    height:auto;
    padding:13px 26px 13px 24px;
    border-radius:60px;
    border-color:#c2c2c2;
    width:100%;
}
.input-group-btn .glyphicon {
    font-size:16px;
    z-index:2;
}
.input-group-btn {
    position:absolute;
    top:35%;
    right:30px;
}

.search-section form >div {
    position:relative;
}
.search-section form {
    padding:0;
}
.phone-number {
    padding-top: 8px;
    font-weight: 800;
    font-size: 18px;
    color: #333333;
    margin-right: 15px;
}
.btn {
    border-radius:0;
    padding:9px 18px;
    font-size:13px;
    color:#333333;
    font-weight:600;
    cursor:pointer;

}
.btn.btn-call {
    border:2px solid #ffdc2c;
    background-color:transparent;
}

.btn.btn-call:hover {
    background-color:#ffdc2c
}

.btn.btn-alert {
    border:2px solid #fb2539;
    background-color:transparent;
}
.btn.btn-alert:hover {
    background-color:#fb2539;
    color:#fff;
}
.btn.btn-buy.btn-alert {
    background-color:#fb2539;
    color:#fff;
    padding:13px 35px;
    font-weight:800;
    font-size:15px;
}
.btn.btn-buy.btn-alert:hover {
    background-color:#fff;
    color:#fb2539
}
.btn.huge {
    padding:16px 37px;
    font-weight:800;
    font-size:18px;
}
.btn.btn-full-width {
    width:100%;
}
.user-menu.nav > li > a {
    padding:52px 11px 10px;
    font-size:12px;
    color:#555555;
    position:relative;
}
.user-menu.nav > li > a i.likes {
    position:absolute;
    top: 14px;
    right: 17px;
    z-index: 2;
    background-color:#fb2539;
    color:#fff;
    font-weight: 600;
    width:18px;
    height:18px;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    font-style:normal;
    text-align:center;
}
section.main-menu {
    background-color:#3c3f43;
}
.main-menu > div > ul.nav {
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width:100%
}
.main-menu > div > ul li {
    flex-wrap: nowrap;
    text-align:center;
    border-right:1px solid #5a5e63;
    width:20%;
}
.main-menu > div > ul li:hover a{
    background-color:#64686f;
}
.main-menu > div > ul li:first-child a{
    background-color: #fb2539;
}
.main-menu > div > ul li:first-child a:hover {
    background-color:#e40004;
}

.main-menu > div > ul li:first-child {
    width:235px;
    border-right:none;
    text-align:left;
}

.main-menu > div > ul li:first-child a{
    text-transform: none;
    padding:20px;
    font-size: 16px;
    position:relative;
}
.main-menu > div > ul li:first-child a span{
    position:absolute;
    right:10px;
    width:20px;
    height:20px;
}
.user-menu.nav>li>a:hover {
    background:transparent;
    color:#fb2539;
}
.main-menu > div > ul li a{
    color:#fff;
    font-weight: 400;
    text-transform: uppercase;
    font-size:13px;
}
.user-menu .menu-icon {
    position:absolute;
    left:-50%;
    right:-50%;
    margin:0 auto;
    width:35px;
    top:13px;
}
.menu-icon {
    background:url('../img/header-sprite.png') no-repeat;
}
.menu-icon.user-garage {
    background-position: -31px -33px;
}
.menu-icon.user-bookmark {
    background-position:-79px -83px;
}
.menu-icon.user-compare {
    background-position: -136px -134px;
}
.menu-icon.user-basket {
    background-position: -195px -193px;
}
.menu-icon.goods {
    background-position: -250px -253px;
}
.menu-icon.sales {
    background-position: -268px -274px;
}
.menu-icon.compare-tests {
    background-position: -300px -300px;
}
.menu-icon.how-choose {
    background-position: -325px -330px
}
.menu-icon.news {
    background-position: -357px -360px;
}
span.menu-icon {
    width:30px;
    height:30px;
    display:inline-block;
    vertical-align: middle;
    margin-right:10px;
    letter-spacing: 1px;
}
.sign-in .menu-icon {
    width:15px;
    height:15px;
    margin-right:5px;
}


/*Good Info section*/

.interface {
    background: url('../img/interface-elements.png') no-repeat;
    overflow:hidden;
    display:inline-block;
    vertical-align:middle;
    font-style:normal;
}
i.interface.small , span.interface.small  {
    width:15px;
    height:15px;
}
i.interface.bigger, span.interface.bigger {
    width:30px;
    height:30px;
}
.breadcrumbs {
    margin-top:20px;
}
.breadcrumbs a {
    display:inline-block;
    margin-right:4px;
    color:#999999;
}
.breadcrumbs a i {
    margin-left:9px;
    background-position: 3px -60px;
}
.good-id {
    background-color:#ffdc2c;
    padding:7px 10px 7px 15px;
    position:relative;
    vertical-align:middle;
    display:inline-block;
}
.good-id:before {
    content: '';
    position:absolute;
    top:9px;
    left:-7px;
    width:14px;
    height:14px;
    background-color: #fff;
    border-radius: 50%;
}
.title-block .good-id {
    margin-top:25px;
}
.product-photo-thumbs img {
    width:50px;
}
.product-photo-thumbs .slides li {
    width:auto!important;
    opacity:1!important;
    margin-right:10px!important;
    margin-bottom:10px!important;
    border:1px solid #e9eaeb;
    padding:7px;
    cursor:pointer;
}
.product-photo-thumbs .slides li:before {
    content:'';
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    background-color: rgba(255,255,255,.7);
    display:block;
}
.product-photo-thumbs .slides li.flex-active-slide {
    border:1px solid #ffdc2c;

}
.product-photo-thumbs .slides li.flex-active-slide:before {
    display:none;
 }
.product3d .bigger.interface {
    position:absolute;
    height:40px;
    background-position: 4px -365px;
    margin:0 auto;
    left:-50%;
    right:-50%;
    -webkit-transform: translateY(-50%) ;
    -moz-transform: translateY(-50%) ;
    -ms-transform:  translateY(-50%);
    -o-transform:  translateY(-50%);
    transform:  translateY(-50%);
    top:50%;
}
.product-photo-thumbs .slides li.product3d:before {
    background-color: rgba(255,255,255,.95)!important;
}
.product-rate .interface:first-child {
    margin-left:5px;
}
.product-rate .interface {
    margin:0 2px;
}
.info-box {
    padding-left:70px;
}
.product-rate .interface.good {
    background-position: 2px -229px
}
.product-rate span {cursor:pointer;}
.product-rate .interface.bad {
    background-position: 2px -252px;
}
.feedback,
.question  {
    color:#777;
    text-decoration: underline;
    cursor:pointer;
}
.feedback .interface {
    background-position: 0 -175px;
}
.question .interface {
    background-position: 0 -203px;
}
.product-rate .feedback {
    margin: 0 10px;
}
.description-block {
    background-color:#f7f7f9;
    padding:20px 30px 30px ;
}
.product-price {
    font-weight:800;
}
.description-block .product-price {
    color:lawngreen;
    font-size:40px;
    font-weight: 800;
}
.description-block .product-price span {
    font-size:20px;
}
.not-available.description-block .product-price {
    color:#999999;
}
.description-block p {
    color:#777777;
    font-size:12px;
}
.compare-share {
    vertical-align:middle;
    display:inline-block;
}
.compare-share a {
    color:#333;
}
.compare-share .share .interface {
    background-position: 2px -26px;
}
.compare-share .compare .interface {
    background-position: 2px 4px;
    margin:0 7px;
}
.description-block .compare-share .compare {
    margin-left:10px;
}
.similar-product {
    border: 1px solid #e9eaeb;
    position:relative;
}
.similar-product .title {
    background-color:#fff;
    position:relative;
    top:-20px;
    padding:0 10px;
}
.similar-description {
    padding:0 40px;
}
.presents {
    color:#57ae85;
}
.finishing {
    color:#fb2539;
}
.presents i.interface {
    background-position: 2px -123px;
    margin-right:3px;
}
.similar-description  .product-price span {
    font-size:16px;
}
.similar-description  .product-price {
    font-size:20px;
}
.similar-product .show-similar {
    position:absolute;
    bottom:-10px;
    background-color: #fff;
    padding:0 10px;
    left: -50%;
    right: -50%;
    margin: 0 auto;
    width: 80%;

}
.similar-product .show-similar a {
    text-decoration: underline;
    text-decoration-style:dotted;
    color:#fb2539;
}
.full-height {
   display:flex;
    align-items: stretch;
    justify-content: space-between;
    flex-direction:row;
}
.full-height-block {
    height:100%;
}
.similar-info .product-id {
    display:inline-block;
    color: #999999;
    font-size:12px;
    margin-right:10px;
}
.product-slider, .slider-job,.people-choosing  {
    padding:10px;
}
.product-slider .product-price ,.slider-job .product-price, .people-choosing .product-price {
    font-size:30px;
}
.product-slider .product-price span, .slider-job .product-price span, .people-choosing .product-price span {
    font-size:16px;
}
.old-price {
    color:#ff8941;
    text-decoration: line-through;
    margin-left: 10px;
    display:inline-block;
}
.product-slider, .slider-job,.people-choosing {
    overflow-x:hidden;
}

.product-slider img {
    /*width:70%;*/
}
.product-slider .slides .owl-item, .slider-job .slides .owl-item, .people-choosing .slides .owl-item{
    display:inline-block;
    padding:0 20px;

}
.owl-nav {display:none}
.slider-nav div span {
    background-position: 18px -470px;
    position:relative;
}
.slider-nav {
    display:inline-block;
}

.slider-nav div {
    width:45px;
    height:45px;
    background-color:#3c3f43;
    display:inline-block;
    cursor:pointer;
    position:relative;
}
.slider-nav div:hover {
    background-color:#333333;
}
.slider-nav div.prev span {

    top:3px;
    background-position: 18px -472px;
}
.slider-nav div.prev  {
    right:-3px;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.slider-title {
    overflow:hidden;
}
.sale {
    position:absolute;
    top:0;
    background-color:#ff8941;
    border-radius:5px;
    display:inline-block;
    padding:4px 10px;
    color:#fff;
    left:0;
}
.product-tabs .nav-tabs>li.active>a, .product-tabs .nav-tabs>li.active>a:hover, .product-tabs .nav-tabs>li.active>a:focus {
    border:none;
    border-bottom:2px solid #fb2539;
}
.product-tabs .nav>li>a  {
    font-size:16px;
    color:#777777;
    padding:20px 0;
    margin-right: 35px;
}

.product-tabs  .nav-tabs>li.active>a {
    color: #fb2539;
}
.nav-tabs>li>a:hover {
    background-color:transparent;
    border-color:transparent;
    color:#333333;
}
.nav-tabs {
    border-bottom:2px solid #e9eaeb;
}
.char-title {
    padding:15px 5px 15px 20px;
    font-size:13px;
}
.char-title:nth-child(odd) {
    background-color:#eff0f3;
}
.swiper {
    position:relative;
}
.collapse-block {
    padding:15px 0;
    width:100%;
    position:absolute;
    bottom:-55px;
    left:0;
    background-color:#fff;
    z-index:2;
    text-decoration:underline;
    cursor:pointer;
}
.collapse-block.rotate .interface {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.collapse-block .interface {
    background-position: 2px -82px;
    -webkit-transition: all .4s ease-out;
    -moz-transition: all .4s ease-out;
    -ms-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
    transition: all .4s ease-out;
    transition-delay:.3s;
    margin-right:5px;
}
.tab-content h2 {
    margin-top:30px;
    margin-bottom:15px;
}
.feedbacks .nav-tabs {
    border:none;
}
.feedbacks .nav-tabs li {
    border:1px solid #e1e1e1;
    text-align:center;
}
.feedbacks .nav-tabs li.active {
    border:1px solid #fb2539;
}
.feedbacks .nav-tabs li a:hover,
.feedbacks .nav-tabs > li.active >a:hover,
.feedbacks .nav-tabs li a,
.feedbacks .nav-tabs > li.active a:focus,
.feedbacks .nav-tabs li.active a {
    padding:8px 40px;
    border:none;
    margin:0;
}
.feedbacks .nav-tabs li.active a {
    color: #333333;
    font-weight:800;
}

.buttons-block {
    position:relative;
}
.btn.btn-feed {
    font-size:15px;
    background-color:#ffdc2c;
    border:1px solid #ffdc2c;
    position:absolute;
    top:0;
    right:0;
}
.btn.btn-feed:hover {
    background-color: #fff;

}
.feedbacks h5{margin-right:20px; font-weight:800;}
.date {color:#999999}
.feed .description {
    border-right:1px solid #e9eaeb;
    padding-left:20px;
}
.benefits {
    color: #57ae85;
}
.shortcomings {
    color:#f8727e;
}
.like {
    margin-right:5px;
    background-position: 4px -318px;
}
.dislike {
    background-position: 8px -282px;
}
.interface.bigger.like,.interface.bigger.dislike  {
    padding-left:15px;
    width: 40px;
    height:18px;
    text-align:right;
    cursor:pointer;

}
.feedbacks-blocks .feed  {
    border:1px solid #ffdc2c;
    border-top:none;
    padding:30px 10px;
}
.feedbacks-blocks .feed:first-child {
    border-top:1px solid #ffdc2c;
}
.feed.row {
    margin:0;
}
.description .feedback:first-child {
    margin-right:15px;
}
.video-bl {
    position:relative;
    overflow:hidden;
}
.video-modal:before {
    content: '';
    width:100%;
    height:100%;
    position:absolute;
    background-color: rgba(255,255,255,.8);
}
.video-modal:before:hover{
    background-color: rgba(255,255,255,.6);

}
.video-modal:after {
    content: '';
    position:absolute;
    width:50px;
    height:50px;
    background:url('../img/interface-elements.png') 12px -415px no-repeat;
    overflow:hidden;
    left:-50%;
    right:-50%;
    margin:0 auto;
    top:50%;
    -webkit-transform: translateY(-50%) scale(1.2);;
    -moz-transform: translateY(-50%) scale(1.2);;
    -ms-transform:  translateY(-50%)scale(1.2);;
    -o-transform:  translateY(-50%) scale(1.2);;
    transform:  translateY(-50%) scale(1.2);

}
.video-modal {
    position:relative;
    overflow:hidden;
    display:inline-block;

}

.modal-body {
    padding:0;
}

.modal-content {
    border-radius:0;
}
.modal.fade .modal-dialog  {
    -webkit-transition: -webkit-transform .3s ease-out;
    -o-transition: -o-transform .3s ease-out;
    transition: transform .3s ease-out;
    -webkit-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
    transform: translate(0,-50%);
    top:50%;
}
.article img {
    height:100%;

}
.art-description {
    display:inline-block;
    /*width:55%;*/
    padding:20px 30px;
}

.art-description h2 {
    margin-top:0;
}
.article .full-height-two {
    display: flex;
}

.current-product {
    padding: 25px 0;
}
.current-product .product-price,.current-product p  {
    color:#777777;
}
.current-product .product-price {
    font-size:30px;
}
.current-product .show-similar a{
    color:#333333;
}
.current-product .show-similar {
    position:static;
}
.current-product .btn {
    width:145px;
    white-space: normal;
    line-height:1;
}
.current-product .interface {
    vertical-align: top;
    margin-top: 15px;
    margin-left: 15px;
    cursor: pointer;
}
.product-avto {
    background:#ddefe7;
    padding:26px 30px;
    margin:30px 0 10px;
}
.product-avto p {
    font-weight:800;
}
.product-avto p span.interface{
    margin-right:10px;
    background-position:0 -147px;
}
select.form-control  {
    border-radius:0;
    border-color:#fff;
    padding:10px 15px;
    box-shadow: none!important;
    -webkit-box-shadow: none;
    height:auto;
}
.filter-buttons li{
    padding:12px 15px;
    border:1px solid #e1e1e1;
    cursor:pointer;
}
.filter-buttons li.active {
    border:1px solid #fb2539;
}
.filter-buttons .list-inline {
    margin:0;
}
.similar-info .product-rate .interface {
    margin-left:2px;
    margin-top:0;
}
.similar-info.current-product {
    padding:0;
}
.buyer-choosing {
    margin-left:20px;
}
.buyer-choosing select{
    border:1px solid #d5d3d3;
}
.buying-too .collapse-block .interface {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.buying-too .collapse-block {
    position:static;
    padding:8px 0;
    width:auto;
}
.buying-too h3.title {
    margin-right:15px;
}

.buying-too .owl-item {
    border:2px solid #eff0f3;
    padding-bottom:15px!important;
}