

/* ==========================================================================
   Responsive custom styles
   ========================================================================== */

@media (min-width: 1200px){
    .container {
        width: 1290px;
    }
}




/*xz*/
@media(max-width:1200px)  {

    .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-collapse {
        overflow-x: visible !important;
    }

    .navbar-collapse.in {
        overflow-y: auto !important;
    }

    .collapse.in {
        display: block !important;
    }

}





